<%- include('../partials/head', { title: '${page}', active: '${page}' }) %>
<div class="sec-head">
  <span class="sec-title">${page}</span>
</div>
<div class="card">
  <div class="empty">Page under construction. Data available via API.</div>
</div>
<%- include('../partials/foot') %>
