<header class="header">
  <div class="brand">
    <div class="brand-mark"></div>
    <span class="brand-name">ShadowPBX</span>
    <span class="brand-tag">v2.0</span>
  </div>
  <div class="header-spacer"></div>
  <div class="header-status"><span class="header-dot"></span> Online</div>
  <span class="header-user">admin</span>
  <a href="/logout" class="header-logout">Sign out</a>
</header>
