<div class="sub-tabs">
  <a href="/trunks" class="sub-tab <%= netActive === 'trunks' ? 'active' : '' %>">Trunks</a>
  <a href="/routes" class="sub-tab <%= netActive === 'routes' ? 'active' : '' %>">Routes</a>
</div>
